.container {
  margin: 0 auto;
  width: 80%;
}

header h1{
  text-align: center;
}

.add-wrapper {
  border-bottom: 1px solid #333;
  padding: 20px;
}

.add-wrapper input {
  width: 200px;
}

.add-wrapper label {
  margin-right: 10px;
}

.list-wrapper {
  padding: 20px;
}

/*チェックボックスとテキストを同じ高さにする（垂直方向の中心をそろえる）*/
.list-wrapper input,
.list-wrapper label
{
  vertical-align: middle;
}
