.container {
  margin: 0 auto;
  width: 80%;
}

header h1{
  text-align: center;
}

.add-wrapper {
  border-bottom: 1px solid #333;
  padding: 20px;
  text-align: center;
}

.add-wrapper input {
  width: 200px;
}

.add-wrapper label {
  margin-right: 10px;
}

.list-wrapper {
  padding: 20px;
}

/*チェックボックスとテキストを同じ高さにする（垂直方向の中心をそろえる）*/
.list-wrapper input
{
  vertical-align: middle;
}

table {
  width: 80%;
  margin: 0 auto;
}

.check {
  width: 20%;
  text-align: center;
}

.task {
  width: 50%;
}

.delete {
  width: 10%;
  text-align: center;
}